*{
	-fx-background-color: black;
}
.board{
	-fx-background-color: #f47442;
	-fx-border-width: 1.0 1.0 1.0 1.0;
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-alignment: center;
	-fx-font-size: 100%;
	-fx-font-weight: bold;
}

.center{
	-fx-alignment: center;
}

.buttons{

}
